/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/dummy/db/*.sqlite3
/dummy/db/*.sqlite3-*
/dummy/log/*.log
/dummy/storage/
/dummy/tmp/
/dummy/public/assets
.byebug*
/node_modules/**/*
masks*.gem
.yardoc
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
