<% if flash[:info] || local_assigns[:info] %>
  <div role="alert" class="text-left bg-blue-950 border-blue-500 rounded-lg text-blue-200 alert alert-info flex items-center text-sm md:text-lg <%= local_assigns[:class] %>">
    <%= lucide_icon('info', class: 'w-4 h-4') %>
    <div>
      <h3><%= local_assigns[:info] || flash[:info] %></h3>
    </div>
  </div>
<% end %>
