<% if flash[:info] || local_assigns[:info] %>
  <div role="alert" class="bg-blue-950 border-blue-500 rounded-lg text-blue-200 alert alert-info flex items-center <%= local_assigns[:class] %>">
    <%= lucide_icon('info') %>
    <div>
      <h3 class="font-bold"><%= local_assigns[:info] || flash[:error] %></h3>
    </div>
  </div>
<% end %>
