<% if client %>
  <%= render('masks/input/openid',
    icon: 'octagon-x',
    icon_class: 'text-error',
    heading: t(".error.#{@error.class.name.parameterize.underscore}"),
    client: client,
    tenant:,
  ) %>
<% end %>

<div class="flex flex-col gap-4">
  <div class="flex items-center gap-8 alert">
    <p>
    <%= t(".desc.#{@error.class.name.parameterize.underscore}", client: client.name) %>
    </p>
  </div>
</div>
