  <div class="hero">
    <div class="hero-content text-left">
      <div>
        <div class="flex items-center gap-4 mb-4 justify-center">
          <span class="text-warning pt-1">
            <%= lucide_icon('alert-triangle', size: 28) %>
          </span>

          <h1 class="text-3xl font-bold text-black dark:text-white">
            <%= t('.title') %>
          </h1>
        </div>
        <p class="mb-6 text-center">
          <%= t('.description') %>
        </p>
        <div class="flex items-center gap-4 justify-center">
          <a href="/" class="btn btn-primary btn-sm">
            <%= t('.home') %>
          </a>
        </div>
      </div>
    </div>
  </div>
