<!DOCTYPE html>
<html class="bg-base-300" data-theme="dark">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* TODO: mail styles need to be inlined (or integrate maizzle) */
    </style>
  </head>
  <body>
    <div class="px-6 pt-4">
      <div class="-ml-2 mb-2">
        <%= render "masks/application/header" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
