<div class="mb-6 flex items-center gap-2">
  <%= lucide_icon('cog', class: 'w-5 h-5') %>

  <h2 class="font-bold">
    <%= section %>
  </h2>

  <h1 class="flex-grow">
    settings
  </h1>

  <input type="submit" class="btn btn-sm btn-success" value="save" />
</div>
