<div class="flex items-center gap-4 text-center">
  <div class="bg-base-300 p-8 rounded-xl flex-grow">
    <p class="text-4xl"><%= @actors %></p>
    <p>actors</a>
  </div>
  <div class="bg-base-300 p-8 rounded-xl flex-grow">
    <p class="text-4xl"><%= @clients %></p>
    <p>clients</a>
  </div>
</div>
