<!DOCTYPE html>
<html class="bg-base-300" data-theme="dark">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="email.css">
  </head>
  <body>
    <div class="px-6 pt-4">
      <%= yield %>
    </div>
  </body>
</html>
